/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  border-top-style: solid;
  border-top-color: #003264;
  border-top-width: 10px;
}

 .navbar{
  background-color: #003264;
  border-bottom-style: solid;
  border-bottom-width: 10px;
  border-bottom-color: #FFFFBE;
  height: 80px;
}

.container > .navbar-header{
  margin-top: 10px;
}




/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

*{
  color: #003264;
}

.popover-content{
  max-height:300px; 
  overflow:scroll;
}

.list-group-item{
  color: #003264 !important;
}

.commentbar {
  position: fixed;
  right: 5%;
  width: 30%;
}

.navbar-brand{
  color: #FFFFBE !important;
}

.navbar-nav{
  color: #FFFFBE !important;
  margin-top: 5px;
}

.delete {
  background-color: #e6e6e6;
}

@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
    max-width:1200px;
  }
}

.text-muted{
  color: #003264 !important;
}

.popover{
  display:block;
  max-width:none;
  width: 300px;
}

a.btn.btn-primary{
  color:#FFFFBE !important;
}

.btn-primary{
  background-color: #003264 !important;
  border-color: #acacac !important;
  color: #FFFFBE; 
}

.page-header{
  border-bottom-color: #003264;
}

/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    cursor: default;
}