/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  border-top-style: solid;
  border-top-width: 10px;
}

 .navbar{
  border-bottom-style: solid;
  border-bottom-width: 10px;
}

@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
   max-width:1200px;
  }
}

.popover{
  display:block;
  max-width:none;
  width: 300px;
}
a.btn.btn-primary{
  color:#FFFFFF !important;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.commentbar {
  position: fixed;
  right: 5%;
  width: 30%;
}